<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Nots Saving</title>
</head>
<body>
    <div class="w-full min-h-screen bg-gray-800 text-white p-5">
        <a href="/" class="text-2xl flex items-center mb-8 inline-block">< Back</a>
        <h1 class="tracking-tighter text-3xl font-semibold"><%= filename %></h1>
        <p class="text-lg"><%= fileData %></p>
    </div>
    <script src="/javascript/myScripts.js"></script>
</body>
</html>